
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>

            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <% if (locals.user) { %>

                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/myroom">My Room</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/roombyelse">Room By Else</a>
                </li>

                <li class="nav-item dropdown">
                    <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    id="userDropdown"
                    >
                    <%= locals.user.name %>
                    </a>

                     <ul class="dropdown-menu" aria-labelledby="userDropdown"> 
                        <li>
                            <a class="dropdown-item" href="/logout">
                                Logout
                            </a>
                        </li>
                    </ul>

                </li>

                <% } else { %>

                <li class="nav-item">
                    <a class="nav-link" href="/login/signup">Signup</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <% } %>

            </ul>
            </div>
        </div>
    </nav>

 
